<!DOCTYPE html>
<html lang="en">
<head>

    {% include 'includes/header.html' %}
    
    <title>Blog</title>
</head>
<body>


    <div class="container">
        <h1 id="hero" class="custom-font mt-5 mb-5">Ryan Rickgauer's Blog</h1>

        <div class="d-flex justify-content-between">
            <!-- filters -->
            <div class="toolbar-select toolbar-filter">
                <span class="label"><b>Topics:</b></span>
                <div>
                    <select class="form-control form-control-sm select-filter">
                        <option value="_all">All</option>

                        
                        <?php echo $usedTopicsHtml; ?>

                    </select>
                </div>
            </div>

            <!-- sorting select options -->
            <div class="toolbar-select toolbar-sort">
                <span class="label"><b>Sort:</b></span>
                <div>
                    <select class="form-control form-control-sm select-sort">
                        <option value="date">Date</option>
                        <option value="title">Title</option>
                    </select>
                </div>
            </div>
        </div>


        <ul class="list-group list-group-flush">
            <?php echo $entryListItemsHtml; ?>
        </ul>


        <p class="text-center mt-4">
            <span>&copy; 2022 by </span>
            <a href="https://ryanrickgauer.com" target="_blank">Ryan Rickgauer</a>
        </p>
    </div>


    {% include 'includes/footer.html' %}
    <script src="/static/js/home.js"></script>
</body>
</html>