<!-- required meta tags -->
<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
<meta charset="utf-8" />

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />

<!-- jquery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- github css -->
<!-- https://gist.github.com/tuzz/3331384 -->
<link rel="stylesheet" type="text/css" href="/static/css/external/github.css" />

<!-- prism code highlighter -->
<link rel="stylesheet" type="text/css" href="/static/css/external/prism.css" />

<!-- boxicons -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css" />

<!-- custom font -->
<link href="https://fonts.googleapis.com/css?family=Special+Elite&display=swap" rel="stylesheet" />

<!-- hamgurger.css -->
<link href="/static/css/external/hamburgers.css" rel="stylesheet" />

<!-- custom css sheet -->
<link rel="stylesheet" type="text/css" href="/static/css/style.css" />

<!-- Favicon -->
<link rel="icon" href="/static/img/icon.png" />


