

<p class="text-center mt-5 mb-1">
    <a href="https://github.com/rrickgauer/blog" target="_blank" style="font-size: 18px;"><i class='bx bxl-github'></i></a>
</p>
<p class="text-center my-0">
    <span>&copy; @DateTime.Now.Year by </span>
    <a href="https://ryanrickgauer.com" target="_blank">Ryan Rickgauer</a>
</p>