
.table-toolbar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.card-login {
  margin: 0px 200px;
}

.mt-huge {
  margin-top: 100px;
}

#table-entries {
  thead {
    th:hover {cursor: pointer;}

    .tablesort-asc,
    .tablesort-desc {
      color: red;
    }
  }

  tbody {
    .table-entries-row:hover {
      cursor: pointer;
      background-color: lightgrey;
    }
  }
}