$color-green: #17c37b;
$color-green-light: #48eaa6;
$color-white: #f7f7f2;
$color-blue: #3777ff;
$cusomt-font: 'Balsamiq Sans', cursive;

.color-green {color: $color-green;}
.color-white {color: $color-white;}
.color-blue {color: $color-blue;}
.bg-green {background-color: $color-green;}
.bg-green-light {background-color: $color-green-light;}
.bg-white {background-color: $color-white !important;}
.bg-blue {background-color: $color-blue;}

body {
  background-color: $color-white;
}

.custom-font {
  font-family: $cusomt-font;
}

h1.custom-font {
  font-size: 3.2em;
}


.toolbar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;

  .left {
    display: flex;
    align-items: center;
  }
}

#filter-topics,
#toggle-unused-topics{
  margin-left: 20px;
}

.card-login {
  margin: 0px 200px;
}

.mt-huge {
  margin-top: 100px;
}

#table-entries {
  thead {
    th:hover {cursor: pointer;}

    .tablesort-asc,
    .tablesort-desc {
      color: $color-blue;
    }
  }

  tbody {
    .table-entries-row:hover {
      cursor: pointer;
      background-color: lightgrey;
    }
  }
}


#navbar {
  background-color: $color-green;
  
  .nav-link {
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin: 0px 10px;
    &:hover {color: $color-blue;}
  }  

  #navbarNavDropdown {
    display: flex;
    justify-content: space-around;
  }
}

.modal-header {
  background-color: $color-green;
  color: white;
  font-family: $cusomt-font;
  .modal-title {font-weight: bold;}

  .close {
    color: white;
  }
}

.modal-body,
.modal-footer {
  background-color: $color-white;
}

.card {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.18);

  .card-header {
    background-color: $color-green;
    color: white;
  }
}

.form-group label {
  font-weight: bold;
}

#stats {
  margin-bottom: 70px;

  .stats-cards {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .card-stat {
    flex-grow: 1;
    margin: 0px 10px;

    .card-body {
      display: flex;
      align-content: baseline;
      background-color: $color-white;
    }

    .card-number {font-size: 2em;}

    .card-data {
      margin-left: 15px;
      line-height: 1.2;
    }

    .card-description {
      color: #666;
    }

    .card-icon {
      padding-top: 5px;

      i {
        font-size: 1.5em;
        border-radius: 50%;
        background-color: $color-blue;
        padding: 15px;
        color: white;
      }
    }
  }
}
